<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvav.timetable.module.user.dao.UserMapper">
    <select id="selectByUsername" resultType="com.jvav.timetable.module.user.model.data.UserDO">
        SELECT * FROM `user` WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.jvav.timetable.module.user.model.data.UserDO">
        INSERT INTO `user` (username, password, email, role, avatar_url, in_site, email_reminder)
        VALUES (#{username}, #{password}, #{email}, #{role}, #{avatarUrl}, #{inSite}, #{emailReminder})
    </insert>

    <update id="updateUserInfo" parameterType="com.jvav.timetable.module.user.model.data.UserDO">
        UPDATE `user`
        SET
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="inSite != null">in_site = #{inSite},</if>
            <if test="emailReminder != null">email_reminder = #{emailReminder}</if>
        WHERE username = #{username}
    </update>

    <select id="getReminderSettings" resultType="com.jvav.timetable.module.user.model.data.UserDO">
        SELECT in_site, email_reminder FROM `user` WHERE username = #{username}
    </select>

    <update id="updateReminderSettings">
        UPDATE `user`
        SET in_site = #{inSite}, email_reminder = #{emailReminder}
        WHERE username = #{username}
    </update>
</mapper>