<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhd.tams.module.user.dao.UserMapper">
    <select id="selectByUsername" resultType="com.lhd.tams.module.user.model.data.UserDO">
        SELECT id, username, password, email, role, avatar_url as avatarUrl FROM `user` WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.lhd.tams.module.user.model.data.UserDO">
        INSERT INTO `user` (username, password, email, role, in_site, email_reminder, avatar_url)
        VALUES (#{username}, #{password}, #{email}, #{role}, #{inSite}, #{emailReminder}, #{avatarUrl})
    </insert>

    <update id="updateUserInfo" parameterType="com.lhd.tams.module.user.model.data.UserDO">
        UPDATE `user`
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl},</if>
            <if test="inSite != null">in_site = #{inSite},</if>
            <if test="emailReminder != null">email_reminder = #{emailReminder},</if>
        </set>
        WHERE username = #{username}
    </update>

    <select id="getReminderSettings" resultType="com.lhd.tams.module.user.model.data.UserDO">
        SELECT in_site, email_reminder FROM `user` WHERE username = #{username}
    </select>

    <update id="updateReminderSettings">
        UPDATE `user`
        SET in_site = #{inSite}, email_reminder = #{emailReminder}
        WHERE username = #{username}
    </update>
</mapper>