<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhd.tams.module.user.dao.UserMapper">
    <select id="selectByUsername" resultType="com.lhd.tams.module.user.model.data.UserDO">
        SELECT * FROM `user` WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.lhd.tams.module.user.model.data.UserDO">
        INSERT INTO `user` (username, password, email, role, avatar_url)
        VALUES (#{username}, #{password}, #{email}, #{role}, #{avatarUrl})
    </insert>

    <update id="updateUserInfo" parameterType="com.lhd.tams.module.user.model.data.UserDO">
        UPDATE `user`
        SET
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl},</if>
        username = username
        WHERE username = #{username}
    </update>
    </update>
</mapper>